.hero-container {
    background: url("../../images/Landing1.svg") center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(35, 38, 42, 0.7);
    object-fit: contain;
    margin-top: -80px;
  }
  .hero-container > img {
   
    width: 500px;
    margin-top: 80px;
   
  }
  
  .hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 60px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  }